<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-5xl">Notunterkünfte</h1>
    <%# link_to 'New facility', new_facility_path, class: "" %>
  </div>

  <%= form_with url: "", method: :get, data: { turbo_frame: "facilities", turbo_action: "advance", controller: "filter" }, class: "mt-5 w-full flex flex-wrap gap-x-4 gap-y-2" do |form| %>
    <%= form.collection_check_boxes(:district, District.all, :id, :name, include_hidden: false) do |checkbox| %>
      <%= checkbox.label(class: "flex gap-1 items-center", data: { filter_target: "checkbox" }) { checkbox.check_box + checkbox.text } %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "facilities" do %>
    <div id="facilities" class="min-w-full mt-8 grid gap-8">
      <%= render @facilities %>
    </div>
  <% end %>
</div>
