<%= form_with(model: [@facility, occupancy], class: "block") do |form| %>
  <% if occupancy.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(occupancy.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% occupancy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :bed_id, 'Bett', class: 'block' %>
    <%= form.collection_select :bed_id,
                                @available_beds,
                                :id,
                                :id_and_permitted_genders,
                                prompt: 'Bitte wählen'
    %>
  </div>

  <div class="block">
    <%= form.submit 'Buchen', class: "p-2 bg-black text-white" %>
  </div>
<% end %>
