<!DOCTYPE html>
<html>
  <head>
    <title>BedFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="p-5 bg-blue-500 text-white"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="p-5 bg-red-500 text-white"><%= alert %></p>
    <% end %>

    <header class="p-5 border-b border-gray-300 flex justify-end gap-x-3">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: "delete" } %>
      <% else %>
        <%= link_to "Anmelden", new_user_session_path %>
        <%= link_to "Registrieren", new_user_registration_path %>
      <% end %>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

    <dialog id="turbo-confirm" class="p-5 shadow-lg">
      <form method="dialog">
        <p>Bist du sicher?</p>
        <div class="mt-6 flex gap-x-3">
          <button value="cancel" class="p-2 border border-gray-300">Abbrechen</button>
          <button value="confirm" class="p-2 bg-gray-900 text-white">Bestätigen</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
