<!DOCTYPE html>
<html>
  <head>
    <title>BedFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

    <dialog id="turbo-confirm" class="p-5 shadow-lg">
      <form method="dialog">
        <p>Bist du sicher?</p>
        <div class="mt-6 flex gap-x-3">
          <button value="cancel" class="p-2 border border-gray-300">Abbrechen</button>
          <button value="confirm" class="p-2 bg-gray-900 text-white">Bestätigen</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
